* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
@font-face {
    font-family: danger;
    src: url(../fonts/another_danger/Another\ Danger\ -\ Demo.otf);
}
a {
    text-decoration: none;
    color: #fff;
}
a, p, h1, h2, h3, h4, h5 {
    user-select: none;
}
body {
    background-color: rgb(34, 34, 34) !important;
    color: #fff;
    box-shadow: inset 20px 0 200px rgb(0, 0, 0), inset -20px 0 120px rgb(40, 40, 40);
    height: 100vh;
    overflow: hidden;
}
body.damage {
    animation: horizontal-shaking .2s linear 5, glow 1s ease-in-out;
    opacity: .8;
}
@keyframes glow {
    0%{box-shadow: inset 150px 0 150px rgb(255, 0, 0), inset -150px 0 150px rgb(255, 0, 0);}
    25%{box-shadow: inset 150px 0 1150px rgb(255, 0, 0), inset -150px 0 1150px rgb(255, 0, 0);}
    50%{box-shadow: inset 150px 0 3150px rgb(255, 0, 0), inset -150px 0 3150px rgb(255, 0, 0);}
    75%{box-shadow: inset 150px 0 1150px rgb(255, 0, 0), inset -150px 0 1150px rgb(255, 0, 0);}
    100%{box-shadow: inset 80px 0 80px rgb(255, 0, 0), inset -80px 0 80px rgb(255, 0, 0);}
}
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(15px) }
    50% { transform: translateX(-15px) }
    75% { transform: translateX(15px) }
    100% { transform: translateX(0) }
   }
main {
    overflow:hidden;
}
div.background-menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    opacity: .5;
    bottom: 0;
    right: 0;
    height: 75vh;
    width: 69vw;
    background: url(../img/assets/fallenvoid.png);
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}
.glitchParticle{
    z-index: 99;   
    background-image: url(../img/assets/fallenvoid.png);
    background-repeat: no-repeat;
    background-size: 620%;
    background-position:70%;
}
canvas {
    margin: unset !important;
    font-family: danger !important;
    font: 40px danger !important;
}
div.button.menu-button{
    color: #a39999;
    display: inline-block;
    padding: 10px 0 0 25px;
    font-family: danger;
    letter-spacing: 6px;
    font-weight: 100;
    font-size: 10px;
    transition: all .5s
}
div.button.menu-button:hover,
div.button.menu-button:focus,
label.checked div.button.menu-button  {
    color: #fff;
    transition: all .5s;
    transform: scale(1.04);
    cursor: pointer;
}
label.checked div.button.menu-button#insanity,
#insanity:hover,
#insanity:focus{
    animation: shake .1s infinite linear;
    color: red;
}
@keyframes shake {
    0% {transform: translate(0, 0);}
    25% {transform: translate(2px, 2px);}
    50% {transform: translate(0, 0);}
    75% {transform: translate(-1px, 1px);}
    100% {transform: translate(0, 0);}
}
main div.main-container{
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
main div.main-container{
    transition: all 1s;
}
.hidden {
    transform: scale(0);
}
.zoomOut {
    transform: scale(10);
}
.zoomIn {
    transform: scale(1);
}
.zoomback {
    transform: scale(0);
}
.version {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size: 10px;
    opacity: .8;
    color: #fff;
}

.story-box,
.leaderboard-box,
.history-box,
.settings-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #292929;
    border: 2px solid #000000;
    display: none;
    flex-direction: column;
    height: 90%;
    width: 50%;
    z-index: 99;
}
.top-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
    height: 8%;
    max-height: 35px;
}
.top-bar svg {
    width: 30px;
    height: 30px;
}
.content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90%;
    padding: 10px;
}
.content h1 {
    margin-bottom: 20px;
}
button.disclaimer,
.account-settings a,
button.save-settings,
div.saved{
    background-color: #484848;
    padding: 10px 20px;
    border: 2px solid gray;
    color: #cccccc;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: all .3s;
} 
button.disclaimer,
.account-settings a{
    position: unset;
}
.disclaimer-text {
    display: none;
}
button.save-settings:hover,
.button.disclaimer:hover {
    background-color: #383838;
    cursor: pointer;
}
div.saved {
    display: none;
    left: 30px;
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type="radio"] {
    display: none;
}
.show {
    display: flex;
}
.leaderboard-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #828282;
    background-color: #1d222b;
}
.leaderboard-box {
    height: fit-content;
}
.first-place{
    background-color: #8b7a17;
}
.second-place{
    background-color: #959595;
}
.third-place{
    background-color: rgb(115, 80, 37);
}

div.setting{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.vol-slider {
    -webkit-appearance: none;
    appearance: none; 
    width: 30%;
    max-height: 5px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}
.vol-slider.empty + svg path  {
    fill: red !important;
    stroke: red !important;
} 
svg:hover,
.checkbox:hover {
    cursor: pointer;
}
.vol-slider::-webkit-slider-runnable-track {
    height: 15px;
    background: #505050;
    border-radius: 16px;
}
.vol-slider::-moz-range-track {
    height: 15px;
    background: #4b4b4b;
    border-radius: 16px;
}
.vol-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    background: #b9b9b9;
    width: 15px;
    box-shadow: -407px 0 0 400px #c2c2c2;
}
.vol-slider::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #c2c2c2;
}
.settings-container {
    padding: 20px;
}
.settings-container label {
    width: 120px;
}
div.story-box .content {
    padding: 30px;
    font-family: sans-serif;
}

/* CUSTOM CHECKBOX */
.checkbox {
    appearance: none;
    background-color: #4b4b4b;
	border: 1px solid #8a8a8a;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	display: inline-block;
	position: relative;
}
.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked {
	background-color: #818181;
	border: 1px solid #cbcbcb;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #a7a7a7;
}
.checkbox:checked:after {
	content: '\2714';
	font-size: 20px;
	position: absolute;
	top: -6px;
	left: 3px;
	color: #ffffff;
}
.show ~ main {
    pointer-events: none;
}
.overlay-box-overlay.show {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}
.story-mode-box {display: none;}
@media screen and (min-width: 1024px) {
    div.background-menu{
        height: 45vh;
        width: 57vw;
        background-size: 105%;
        background-position: -15px -1px;
    }
    .version {
        font-size: 20px;
    }
}
@media screen and (min-width: 1440px){
    div.background-menu {
        height: 48vh;
        width: 60vw;
        background-size: 95%;
        background-position: -5px -1px;
    }
    canvas#title {
        height: 90px;
        width: 540px;
    }
    canvas {
        height: 110px;
        width: 270px;
    }
    div.button.menu-button{
        font-size: 15px;
    }
    .content {
        max-height: 95%;
    }
}
@media screen and (min-width: 1500px) {
    div.background-menu{
        max-width: 855px;
    }
}

/* GEAR MENU */
div.container.center {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
div.container.center h1 {
    font-family: danger;
    letter-spacing: 7px;
}
div.gear-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.info-box {
    width: 50%;
}
div.stat-change-container ul {
    list-style-type: none;
}
.flex {
    display: flex;
}
.information {
    justify-content: space-evenly;
}
.armor-button {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #fff;
    background: linear-gradient(135deg, #313131, #777474);
    color: #fff;
    font-weight: 1000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
i.value{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
    font-size: 16px;
    color: #ff0000;
}
.selected {
    background: #232383;
    transition: all .5s;
}
div.stat-change-container {
    width: 20%;
}
div.confirm.button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}