@font-face {
    font-family: joystix;
    src: url(../fonts/joystix\ monospace.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@keyframes arrow_animation {
    from { bottom: 20px; }
    to { bottom: 10px; }
}
body {
    background-color: #1c1c1c;
    overflow: hidden;
}
main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} 
#arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    height: 0; 
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 0; 
    animation: arrow_animation 1s steps(2) infinite;
}
#dialog-box-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 33vh;
    width: 100vw;
    padding: 20px;
    z-index: 99;
}
.dialog-box {
    background: #1c1c1c;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #000000;
    color: #ffffff;
    border-radius: 5px;
    font-family: joystix;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
}
#dialog-box-name {
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
}
#dialog-box {
    padding: 20px;
    position: relative;
    word-spacing: 3px;
    border-top-left-radius: 0;
    height: 100%;
    width: 100%;
}
#dialog-box-characters{
    position: relative;
    display: flex;
    justify-content: space-between;
    transform: translateY(50px);
}
.dialog-character {
    height: 0;
    width: 0;
    padding: 13%;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.italic {
    font-style: italic;
}
section#player-ui {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100vw;
}
.UI-MOVES{
    width: 70%;
    padding: 20px;
    background-color: #0a0a39e8;
    border: 3px groove #fff;
    border-radius: 5px;
}
.buttons-cards {
    width: 30%;
    justify-content: space-evenly;
}
div.deck,
div.used-pile,
div.hand {
    /* border: 3px solid #fff; */
    height: 100%;
    width: 100px;
    /* border-radius: 6px; */
    cursor: pointer;
    padding: 5px;

    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: joystix;
}
div.deck:hover,
div.hand:hover {
    filter: drop-shadow(0 0 1px #00ff7b);
}
div.used-pile:hover {
    filter: drop-shadow(0 0 1px #000000);
}
div.deck::before,
div.used-pile::before,
div.hand::before {
    content: "\25B6";
    font-family: joystix;
    position: absolute;
    z-index: 99;
    left: 35%;
    top: 0%;
    transform: translateY(-50%) rotate(90deg);
    opacity: 0;
}
div.deck:hover::before,
div.used-pile:hover::before,
div.hand:hover::before,
div.deck:focus::before,
div.used-pile:focus::before,
div.hand:focus::before{
    opacity: 1;
}
  

div#stats {
    border-radius: 5px;
    color: #fff;
}
div#stats .flex {
    align-items: center;
}
.stat-bar {
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.enemy-health-bar {
    width: 200px;
}
.enemy-health-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.stat-value-health, .stat-value-mana,
.stat-cost-mana,
.enemy-health-value {
    background-color: #cd0c0c;
    padding: 10px;
    padding: 20px 0;
    height: 100%;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: all .5s;
}
.stat-value-mana {
    background-color: #482bdc;
    width: 100%;
}
.stat-cost-mana {
    background-color: rgb(220, 108, 43);
    width: 0%;
}
#mana-bar {
    display: flex;
}
.player-values,
.enemy-health-num {
    font-family: joystix;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}
.icon-svg-stats{
    height: 50px;
    width: 50px;
}
.next-page, .prev-page {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: #000;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.prev-page {
    display: none;
}
.overview {
    color: #fff;
    display: none;
    font-family: joystix;
}

.buttons-basic,
.buttons-magic {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.damagecanvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* BUTTONS */
.move-option {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    font-family: joystix;
    margin-left: 20px;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
}
.move-option::before {
    content: "\25B6";
    font-family: joystix;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.move-option:hover::before {
    opacity: 1;
}
  
.card {
    width: 100%;
}
.hole {
    padding: 50px;
    background: #000;
    box-shadow: inset 0 0 20px 20px purple,0 0 20px 20px purple;
    filter: drop-shadow(0 0 10px #43093d);
    border-radius: 100%;
    cursor: pointer;
    animation: glow 5s linear infinite;
}
@keyframes glow {
    0% {box-shadow: inset 0 0 20px 20px purple;}
    25% {box-shadow: inset 0 3px 20px 23px purple;}
    50% {box-shadow: inset 3px 0px 20px 20px purple; transform: rotate(10deg);}
    75% {box-shadow: inset 0 3px 20px 23px purple;}
    100% {box-shadow: inset 0 0 20px 20px purple;}
}

/* Explanation popup */
.popup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background-color: #975489;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 20px 6px rgb(0 0 0);
    padding: 15px;
    text-align: center;
    z-index: 99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.popup-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-content {
    font-size: 14px;
}

section#battle-zone {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
/* PLAYERS/ENEMIES */
.enemies-container {
    justify-content: end;
    align-items: end;
    height: 55%;
    transform: translateX(-200px);
}

.enemy-positions {
    width: 710px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enemy,
.spacer-hidden {
    height: 50px;
    width: 180px;
    border: 6px solid #ba71a4;
    border-top: 2px solid #ba71a4;
    border-radius: 100%;
    position: relative;
}

.spacer-hidden {
    opacity: 0;
    pointer-events: none;
}

.enemy .spritecanvas {
    position: absolute;
    top: -350px;
    left: -110px;
    transform: rotateY(180deg);
}
.enemy .damagecanvas{
    position: absolute;
    top: -170px;
    left: -60px;
}
.enemy:hover {
    filter: drop-shadow(rgb(19, 84, 150) 0 0 10px);
}
div.player {
    width: 300px;
    height: 300px;
}
.player img {
    height: 100%;
    width: 100%;
}


/* CUSTOM BOOT */
.col-2 {
    width: 15%;
}
.col-4 {
    width: 30%;
}
.col-5{
    width: 40%;
}
.flex {
    display: flex;
}
.align-top{
    align-items: start;
    position: relative;
}
.align-center {
    align-items: center;
}

.container {
    display: none;
    transform: translate(25%, -20rem);
}
  
.cards {
    width: 150px;
}
.cardd {
    width: 130px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #000;
    position: absolute;
    opacity: .9;
    transform-origin: bottom center;
    border-radius: 3px;
    transition: all 1s;
    cursor: pointer;
}
.cardd.clicked{
    top: 50%;
    left: 50%;
    transform: scale(2) translate(-50%,-25%) !important;
    background: rgb(58, 33, 63);
    box-shadow: 0 0 5px 0px #fff;
    opacity: 1;
    transition: all 1s;
}
.targeted {
    filter:drop-shadow(0 0 8px red)
}
.enemyHP {
    background-color: red;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    transition: all .6s;
}
.enemy-stat-container{
    transform: translateY(70px);
}
@media screen and (max-width: 996px) {
    #dialog-box-container {
        height: 35vh;
    }
    .dialog-box {
        font-size: 14px;
    }
    .move-option {
        font-size: 14px;
        width: fit-content;
    }
    .UI-MOVES{
        max-height: 110px;
        padding: 5px 0 5px 20px;
    }
    div.deck, div.used-pile, div.hand {
        width: 70px;
    }
    .enemy-positions{
        transform: scale(0.5) translateY(100px) translateX(40rem);
    }
}
@media screen and (min-width: 996px) {
    #dialog-box-container {
        top: 0;
    }
    .UI-MOVES{
        min-height: 186px;
    }
    .enemy-positions{
        transform: scale(0.7) translateY(30px) translateX(20rem);
    }
}
@media screen and (min-width: 1400px) {
    .enemy-positions{
        transform: scale(1) translateY(50px) translateX(10rem);
    }
    section#battle-zone{
        justify-content: space-around;
    }
    .stat-value {
        max-height: 40px;
    }
}
@media screen and (max-width: 888px){
    .stat-value-health, .stat-value-mana, .enemy-health-value{
        padding: 10px 0;
    }
}
div.enemy img {
    width: 100%;
    position: absolute;
    top: -280%;
}
img#enemy-Void {
    transform: scale(2);
    top: -500% !important;
}

/* JUNK: TEST */
#test {
    /* display: none; */
}
/* 
.enemy-data-stats{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: #fff;
} */