@font-face {
    font-family: joystix;
    src: url(../fonts/joystix\ monospace.otf);
}
@font-face {
    font-family: danger;
    src: url(../fonts/another_danger/Another\ Danger\ -\ Demo.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
@keyframes arrow_animation {
    from { bottom: 20px; }
    to { bottom: 10px; }
}
body {
    background-color: #1c1c1c;
    overflow: hidden;
    box-shadow: inset 0 0 50px 20px rgba(255, 0, 0, 0);
    transition: box-shadow .3s;
}
main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} 
#arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    height: 0; 
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 0; 
    animation: arrow_animation 1s steps(2) infinite;
}
#dialog-box-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 33vh;
    width: 100vw;
    padding: 20px;
    z-index: 99;
}
.dialog-box {
    background: #1c1c1c;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #000000;
    color: #ffffff;
    border-radius: 5px;
    font-family: joystix;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
}
.shopDialog {
    background: #ededed;
    box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #000000;
    color: #1f1f1f;
    border-radius: 5px;
    font-family: joystix;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    width: 90%;
    margin: auto;
}
#dialog-box-name {
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    display: none;
}
#dialog-box {
    padding: 20px;
    position: relative;
    word-spacing: 3px;
    border-top-left-radius: 0;
    height: 100%;
    width: 100%;
    display: none;
}
#dialog-box-characters{
    position: relative;
    display: flex;
    justify-content: space-between;
    transform: translateY(50px);
    opacity: 1;
    transition: all .4s;
}
.talking{
    transform: scale(1.1) translateY(0px) !important;
    opacity: 1 !important;
    transition: all .4s;
}
.dialog-background{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000000fc;
}
.dialog-character {
    height: 0;
    width: 0;
    opacity: 0.5;
    padding: 13%;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.italic {
    font-style: italic;
}
section#player-ui {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100vw;
}
.UI-MOVES{
    width: 80%;
    padding: 20px;
    background-color: #0a0a39e8;
    border: 3px groove #fff;
    border-radius: 5px;
}
.UI-MOVES.defending{
    background-color: #424242e8;
}
.UI-MOVES.attacking{
    background-color: #6e2521e8;
}
.buttons-cards {
    width: 20%;
    justify-content: space-evenly;
}

div.deck {
    height: 100%;
    width: 100px;
    cursor: pointer;
    padding: 5px;

    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: joystix;
}
div.deck:hover{
    filter: drop-shadow(0 0 1px #00ff7b);
}
div.deck::before {
    content: "\25B6";
    font-family: joystix;
    position: absolute;
    z-index: 99;
    left: 35%;
    top: 0%;
    transform: translateY(-50%) rotate(90deg);
    opacity: 0;
}
div.deck:hover::before,
div.deck:focus::before{
    opacity: 1;
}
div#stats {
    border-radius: 5px;
    color: #fff;
}
div#stats .flex {
    align-items: center;
}
.stat-bar {
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.enemy-health-bar {
    width: 200px;
}
.enemy-health-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.stat-value-health, .stat-value-mana,
.stat-cost-mana,
.enemy-health-value {
    background-color: #cd0c0c;
    padding: 10px;
    padding: 20px 0;
    height: 100%;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: all .5s;
}
.stat-value-mana {
    background-color: #482bdc;
    width: 100%;
}
.stat-cost-mana {
    background-color: rgb(220, 108, 43);
    width: 0%;
}
#mana-bar {
    display: flex;
}
.player-values,
.enemy-health-num {
    font-family: joystix;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}
.icon-svg-stats{
    height: 50px;
    width: 50px;
}
.next-page, .prev-page, .next-page-2 {
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    background: #000;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-family: joystix;
}
.prev-page, .next-page-2 {
    display: none;
}
.overview {
    color: #fff;
    display: none;
    font-family: joystix;
}
.inventory {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: #57575763;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    height: 50%;
    width: 50%;
    z-index: 5;
}
.top-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
    height: 8%;
    max-height: 35px;
}
.top-bar svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.showInventory{
    opacity: 1;
    pointer-events: all;
}
.relics {
    display: flex;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    font-family: joystix;
    font-size: 12px;
    color: #fff;
}
div.relic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.relics img {
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 10px;
}

.buttons-basic,
.buttons-magic {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}
.rewardContainer {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    pointer-events: none;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: joystix;
    color: #fff;
    transition: all .5s;
}
.flex-wrap div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
.rewardContainer h1 {
    text-align: center;
    margin: auto;
    color: #fff;
}
.money {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.rewardContainer img, .inventory-cash img{
    width: 50px;
    height: 50px;
    margin: 0 15px;
}
.money .inventory-cash {
    width: 50px;
    height: 50px;
}
.moneyContainer div, .inventory-cash div{
    color: #fff;
    font-family: joystix;
    text-align: center;
}
.rewardContainer .moneyContainer, .money .inventory-cash {
    height: 75px; 
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showRewards {
    opacity: 1;
    pointer-events: all;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.damagecanvas {
    position: absolute;
    top: 0;
    left: 0;
}
.confirm.button {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #fff;
    background-color: rgb(10, 10, 105);
    color: #fff;
    width: fit-content;
    margin: auto;
    font-family: joystix;
}

/* BUTTONS */
.move-option {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    font-family: joystix;
    margin-left: 20px;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
}
.move-option::before {
    content: "\25B6";
    font-family: joystix;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.move-option:hover::before {
    opacity: 1;
}
  
.card {
    width: 100%;
}
.hole {
    padding: 50px;
    background: #000;
    box-shadow: inset 0 0 20px 20px purple,0 0 20px 20px purple;
    filter: drop-shadow(0 0 10px #43093d);
    border-radius: 100%;
    cursor: pointer;
    animation: glow 5s linear infinite;
}
@keyframes glow {
    0% {box-shadow: inset 0 0 20px 20px purple;}
    25% {box-shadow: inset 0 3px 20px 23px purple;}
    50% {box-shadow: inset 3px 0px 20px 20px purple; transform: rotate(10deg);}
    75% {box-shadow: inset 0 3px 20px 23px purple;}
    100% {box-shadow: inset 0 0 20px 20px purple;}
}

/* Explanation popup */
.popup-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background-color: #975489;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 20px 6px rgb(0 0 0);
    padding: 15px;
    text-align: center;
    z-index: 99;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.popup-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-content {
    font-family: joystix;
    font-size: 14px;
    /* letter-spacing: 5px; */
}

section#battle-zone {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
/* PLAYERS/ENEMIES */
.enemies-container {
    justify-content: end;
    align-items: end;
    height: 55%;
    transform: translateX(-200px);
}

.enemy-positions {
    width: 770px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enemy,
.spacer-hidden {
    height: 50px;
    width: 210px;
    border: 6px solid #ba71a4;
    border-top: 2px solid #ba71a4;
    border-radius: 100%;
    position: relative;
}

.spacer-hidden {
    opacity: 0;
    pointer-events: none;
}
.enemy canvas {
    position: absolute;
    top: -270px;
    left: -110px;
}
.enemy .damagecanvas{
    position: absolute;
    top: -170px;
    left: -60px;
}
.enemy:hover {
    filter: drop-shadow(rgb(19, 84, 150) 0 0 10px);
}
div.player {
    width: 300px;
    height: 300px;
}
.player img {
    height: 100%;
    width: 100%;
}
#player-sheet {
    transform: translateY(-20px) translateX(150px);
}


/* CUSTOM BOOT */
.col-2 {
    width: 15%;
}
.col-4 {
    width: 30%;
}
.col-5{
    width: 40%;
}
.flex {
    display: flex;
}
.align-top{
    align-items: start;
    position: relative;
}
.align-center {
    align-items: center;
}

.container {
    display: none;
    transform: translate(5%, -15rem);
    width: 80%;
}
.cardTitle{
    text-align: center;
    padding: 5px;
    color: #00ff7b;
    font-size: 10px;
}
.cardDesc{
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: #ddff00;
}
.cardd.clicked .cardTitle{
    text-align: center;
    padding: 5px;
    color: #00ff7b;
    font-size: 10px;
}
.cardd.clicked .cardDesc{
    text-align: center;
    padding: 5px;
    font-size: 11px;
    color: #ddff00;
}
.turnProcess{
    pointer-events: none;
}
.cards {
    justify-content: space-between;
    display: flex;
    width: 90%;
}
.cardd {
    padding: 5px;
    width: 130px;
    height: 200px;
    background: #4d4d4d;
    border: 1px solid #000;
    opacity: .9;
    transform-origin: bottom center;
    border-radius: 3px;
    transition: all 1s;
    cursor: pointer;
    font-family: joystix;
}
.cardd.clicked{
    top: 50%;
    left: 50%;
    transform: scale(2) translate(0%,-25%) !important;
    background: rgb(66, 50, 42);
    z-index: 2;
    box-shadow: 0 0 5px 0px #fff;
    opacity: 1;
    transition: all 1s;
}
.targeted {
    filter:drop-shadow(0 0 8px red)
}
.enemyHP {
    background-color: red;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    transition: all .6s;
}
.enemy-stat-container{
    transform: translateY(70px);
}
.e-defending {
    background-color: #797979;
}
/* attack animation */
.hurt {
    box-shadow: inset 0 0 50px 50px red;
    animation: damageShake .2s linear;
    transition: box-shadow .3s;
    z-index: 99;
}
@keyframes damageShake {
    0% { transform: translate(20px, 20px); }
    25% { transform: translate(30px, -20px); }
    50% { transform: translate(20px, 15px); }
    75% { transform: translate(-20px, 25px); }
    100% { transform: translate(0, 0); }
}
.attack-anim-overlay {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #000000b8;
}
div.player-box,
div.enemy-box {
    position: absolute;
    top: 0;
    left: -50vw;
    height: 100%;
    width: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 255, 0.415);
    transition: right 1.2s cubic-bezier(.12,.99,.99,.15);
}
div.player-box{
    background-image: url(../img/Player-attack-render.png);
    transition: left 1.2s cubic-bezier(.12,.99,.99,.15);
}
div.enemy-box {
    background-color: rgba(255, 0, 0, 0.41);
    right: -50vw;
    left: unset;
}
div.player-box.attacking {
    left: 100vw !important;
}
div.enemy-box.attacking {
    right: 100vw;
}
.hideAnim{
    top: unset !important;
    left: unset !important;
    bottom: 100vw;
    transition: all .8s;
}

#defeat-screen {
    opacity: 0;
    background-color: #000c;
    color: #b70000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: all 2s ease;
    pointer-events: none;
    font-size: 50px;
    z-index: 999;
}
#defeat-screen.show{
    opacity: 1;
    pointer-events: all;
    text-shadow: #b70000 0px 0px 20px;
    background-color: #000000;
    transition: all 2s ease;
}
.battle-popup,
.help-popup{
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #fff;
    background-color: #4f4f4f;
    transition: all .5s;
}
a{
    text-decoration: none;
    color: #072b24;
}
.help-popup , .help-popup p {
    left: 10px;
    width: fit-content;
    font-size: 18px;
    font-family: danger;
}
.battle-popup h1,
.help-popup p {
    color: #fff;
    font-family: joystix;
}
.battle-popup.show,
.help-popup.show{
    opacity: 1;
    transition: all .5s;
}
.transition-background {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000a6;
    transition: all .5s;
}
.transition-background.show {
    z-index: 3;
    opacity: 1;
    pointer-events: all;
}
.shopContainer {
    position: absolute;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: rgb(74, 58, 17);
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}
.shopContainer > .half-flexBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 65%;
}
.shopContainer > .half-flexBox > .product {
    width: 25%;
    border-bottom: 10px solid rgb(119, 91, 30);
    color: #fff;
    font-family: joystix;
}
.shopKeeperBar{
    height: 30%;
    width: 100%;
    margin-right: 10px;
    background-image: url(../img/wood-texture.jpg);
    border-right: 1px solid rgb(106, 92, 19);
    z-index: 3;
}
.shopKeeperContainer{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.shopContainer .shopKeeper{
    position: relative;
}
.product img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px #000);
}
.shopKeeper{
    z-index: 2;
    box-shadow: inset 0px -15px 0px #b16712;
}
.shopKeeper canvas {
    margin: 0 auto -15px auto;
    border-bottom: 10px solid #b16712;
    z-index: 4;
}
.broke {
    color: #ff0000;
}
.afforable,.playerCash, .leaveShop {
    color: #fff;
    font-family: joystix;
}
.playerCash{
    position: absolute;
    bottom: 20px;
    left: 60%;
    list-style: none;
    font-size: 20px;
}
.playerCash::before {
    content: '';
    display: inline-block;
    background-image:url('../img/icons/moner.png');
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.goToShop{
    left: 0;
    transition: all 1s;
}
.leaveShop {
    font-size: 7px;
    border: 1px solid white;
    background-color: #1f1f1f;
    padding: 10px;
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
@media screen and (max-width: 996px) {
    #dialog-box-container {
        height: 35vh;
    }
    .dialog-box {
        font-size: 14px;
    }
    .move-option {
        font-size: 14px;
        width: fit-content;
    }
    .UI-MOVES{
        max-height: 110px;
        padding: 5px 0 5px 20px;
    }
    div.deck, div.hand {
        width: 70px;
    }
    .enemy-positions{
        transform: scale(0.5) translateY(100px) translateX(40rem);
    }
}
@media screen and (min-width: 996px) {
    #dialog-box-container {
        top: 0;
    }
    .UI-MOVES{
        min-height: 186px;
    }
    .enemy-positions{
        transform: scale(0.7) translateY(60px) translateX(20rem);
    }
    div.player{
        width: 400px;
        height: 400px;
    }
}
@media screen and (min-width: 1400px) {
    .enemy-positions{
        transform: scale(1) translateY(-10px) translateX(10rem);
    }
    section#battle-zone{
        justify-content: space-around;
    }
    .stat-value {
        max-height: 40px;
    }
}
@media screen and (max-width: 888px){
    .stat-value-health, .stat-value-mana, .enemy-health-value{
        padding: 10px 0;
    }
}
div.enemy img {
    width: 100%;
    position: absolute;
    top: -280%;
}
canvas#Void {
    transform: scale(1.1);
    top: -20rem !important;
    left: -80px;
}
canvas#Fallen-Rose-knight {
    transform: scale(0.9);
    top: -18rem !important;
    left: -90px;
}
#bossWarning.bossWarning {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    background-color: #0000002c;
    text-shadow: red 0 0 10px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    animation: warning infinite ease-in-out 1s;
}
@keyframes warning {
    0%{box-shadow: inset 0px 0px 0px rgba(255, 0, 0, 0.689);}
    /* 25%{box-shadow: inset 0px 0px 150px red;} */
    50%{box-shadow: inset 0px 0px 300px rgba(255, 0, 0, 0.714);}
    /* 75%{box-shadow: inset 0px 0px 150px red;} */
    100%{box-shadow: inset 0px 0px 0px rgba(255, 0, 0, 0.766);}
}
div.enemyStatus img,
.status-effects-player img {
    width: 30px !important;
    position: unset !important;
}
/* JUNK: TEST */
#test {
    display: none;
    z-index: 99;
    position: absolute;
}
/* 
.enemy-data-stats{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: #fff;
} */